<h1>You've added a new job!</h1>
<p>@Model.GetTitle()</p>
<p>@Model.GetDescription()</p>
<p>@Model.GetExperience()</p>
<p>@Model.GetLocation()</p>
<p><a href="/">Add another job</a></p>

<p><a href="/job/list">View current jobs</a></p>
