<h1>Welcome to the Job Board</h1>
<h4>Please post jobs here..</h4>

<form action="/job/create" method="post">

  <label for="job-title">Enter the job title here:</label>
  <input id="job-title" name="job-title" type="text">

  <label for="job-description">Enter the job description here:</label>
  <input id="job-description" name="job-description" type="text">

  <label for="experience">Enter the experience required:</label>
  <input id="experience" name="experience" type="number">

  <label for="job-location">Enter the job location:</label>
  <input id="job-location" name="job-location" type="text">
  
  <label for="contact-name">Enter the name of the job poster:</label>
  <input id="contact-name" name="contact-name" type="text">
  
  <label for="contact-email">Enter the email of the job poster:</label>
  <input id="contact-email" name="contact-email" type="text">
  
  <label for="contact-phone">Enter the phone of the job poster:</label>
  <input id="contact-phone" name="contact-phone" type="text">

  <button type="submit">Submit</button>
